.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  padding: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cell:hover {
  background-color: #f0f0f0;
}

.cell.x {
  color: #f44336;
}

.cell.o {
  color: #2196f3;
}

#reset {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#reset:hover {
  background-color: #0d8bf0;
}
.trash-talk {
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #f1f0f0;
  max-width: 300px;
}

.trash-talk p {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-width: 250px;
  background-color: #e7e7e7;
}
